## Bringing together NLES data

Source: http://mhrd.gov.in/statist?field_statistics_category_tid=30

In [14]:
import pandas as pd
table_1 = pd.read_excel(r'data/NLES_table1_xlsx.xlsx')

In [16]:
table_1.head()

,Table1-:Population Census- 2001 & 2011 - (in Crore),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,2001,NaN,2011,NaN,NaN
1,NaN,Total,NaN,102.8,NaN,121.02,NaN,NaN
2,NaN,Male,NaN,53.2,NaN,62.37,NaN,NaN
3,NaN,Female,NaN,49.65,NaN,58.65,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
table_2 = pd.read_excel(r'data/EAG2014.xlsx',sheetname=None,skiprows=0)

In [29]:
table_2

{u'17-A':                                 Table-17: Level-wise Enrolment  Unnamed: 1  \
 NaN                               A: All Categories of Students        NaN
 NaN                                                         NaN        NaN
 Level/\nYear  Primary                                       ...        NaN
 NaN                                                        Boys      Girls
 1950-51                                                     138         54
 1960-61                                                     236        114
 NaN                                                         NaN        NaN
 NaN                                                         NaN        NaN
 NaN                                                         NaN        NaN
 1970-71                                                     357        213
 1980-81                                                     453        285
 1990-91                                                     570        404
 2000-01                                                     640        498
 2005-06                                                     705        616
 2006-07                                                     711        626
 2007-08                                                     711        644
 2008-09                                                     706      647.2
 2009-10                                                     697        639
 2010-11                                                 701.416    646.181
 2011-12                                                 726.385    672.314
 2012-13(P)                                              681.135    639.499
 2013-14(P)                                                  672        628
 NaN                                               P:Provisional        NaN
 NaN                                          NA: Not  Available        NaN
 NaN           Note: from 1980-81 to 1990-91, figures for Cla...        NaN
 NaN                                                Data Source:        NaN
 NaN                                      For School Education:-        NaN
 NaN           (i) figure for 1950-51 to 2011-12 taken from t...        NaN
 NaN           (ii) figure for 2012-13 (P) & 2013-14 (P) take...        NaN
 NaN           For Higher Education:- \n(i) figure for 1950-5...        NaN
 NaN           (ii) figure for 2010-11 to 2012-13 (P) taken f...        NaN
 NaN                                                         NaN        NaN
 NaN                                                         NaN        NaN
 NaN                                                         NaN        NaN
 NaN                                                         NaN        NaN
 NaN                                                         NaN        NaN
 NaN                                                         NaN        NaN
 NaN                                                         NaN        NaN
 NaN                                                         NaN        NaN
 NaN                                                         NaN        NaN

              Unnamed: 2                                       Unnamed: 3  \
 NaN                 NaN                                              NaN
 NaN                 NaN                                              NaN
 Level/\nYear        NaN  Upper Primary                         (VI-VIII)
 NaN               Total                                             Boys
 1950-51             192                                               26
 1960-61             350                                               51
 NaN                 NaN                                              NaN
 NaN                 NaN                                              NaN
 NaN                 NaN                                              NaN
 1970-71             570                                               94
 1980-81             738                                              139
 1990-91             974                                              215
 2000-01            1138                                              253
 2005-06            1321                                              289
 2006-07            1337                                              299
 2007-08            1355                                              311
 2008-09          1353.2                                            313.7
 2009-10            1336                                              317
 2010-11          1347.6                                          327.021
 2011-12          1398.7                                          331.172
 2012-13(P)      1320.63                                          328.851
 2013-14(P)         1300                                              337
 NaN                 NaN                                              NaN
 NaN                 NaN                                              NaN
 NaN                 NaN                                              NaN
 NaN                 NaN                                              NaN
 NaN                 NaN                                              NaN
 NaN                 NaN                                              NaN
 NaN                 NaN                                              NaN
 NaN                 NaN                                              NaN
 NaN                 NaN                                              NaN
 NaN                 NaN                                              NaN
 NaN                 NaN                                              NaN
 NaN                 NaN                                              NaN
 NaN                 NaN                                              NaN
 NaN                 NaN                                              NaN
 NaN                 NaN                                              NaN
 NaN                 NaN                                              NaN
 NaN                 NaN                                              NaN
 NaN                 NaN                                              NaN

              Unnamed: 4 Unnamed: 5         Unnamed: 6 Unnamed: 7   Unnamed: 8  \
 NaN                 NaN        NaN                NaN        NaN          NaN
 NaN                 NaN        NaN                NaN        NaN   (in lakhs)
 Level/\nYear        NaN        NaN  Secondary ( IX-X)        NaN          NaN
 NaN               Girls      Total               Boys      Girls        Total
 1950-51               5         31                NaN        NaN          NaN
 1960-61              16         67                NaN        NaN          NaN
 NaN                 NaN        NaN                NaN        NaN          NaN
 NaN                 NaN        NaN                NaN        NaN          NaN
 NaN                 NaN        NaN                NaN        NaN          NaN
 1970-71              39        133                NaN        NaN          NaN
 1980-81              68        207                NaN        NaN          NaN
 1990-91             125        340                NaN        NaN          NaN
 2000-01             175        428                116         74          190
 2005-06             233        522            144.739    104.976      249.715
 2006-07             246        545            149.295    109.682      258.977
 2007-08             262        573            158.981    123.196      282.177
 2008-09           270.1      583.8              164.6      129.5        294.1
 2009-10             278        595                169        138          307
 2010-11         291.711    618.732            175.129    143.394      318.523
 2011-12         298.891    630.063            185.519    155.007      340.526
 2012-13(P)      313.723    642.573            181.433    161.743      343.177
 2013-14(P)          320        657                195        175          370
 NaN                 NaN        NaN                NaN        NaN          NaN
 NaN                 NaN        NaN                NaN        NaN          NaN
 NaN                 NaN        NaN                NaN        NaN          NaN
 NaN                 NaN        NaN                NaN        NaN          NaN
 NaN                 NaN        NaN                NaN        NaN          NaN
 NaN                 NaN        NaN                NaN        NaN          NaN
 NaN                 NaN        NaN                NaN        NaN          NaN
 NaN                 NaN        NaN                NaN        NaN          NaN
 NaN                 NaN        NaN                NaN        NaN          NaN
 NaN                 NaN        NaN                NaN        NaN          NaN
 NaN                 NaN        NaN                NaN        NaN
 NaN                 NaN        NaN                NaN        NaN          NaN
 NaN                 NaN        NaN                NaN        NaN          NaN
 NaN                 NaN        NaN                NaN        NaN          NaN
 NaN                 NaN        NaN                NaN        NaN          NaN
 NaN                 NaN        NaN                NaN        NaN          NaN
 NaN                 NaN        NaN                NaN        NaN          NaN
 NaN                 NaN        NaN                NaN        NaN          NaN

                               Table-17: Level-wise Enrolment .1     ...       \
 NaN                               A: All Categories of Students     ...
 NaN                                                         NaN     ...
 Level/\nYear                       Senior Secondary \n( XI-XII)     ...
 NaN                                                        Boys     ...
 1950-51                                                      13     ...
 1960-61                                                      27     ...
 NaN                                                         NaN     ...
 NaN                                                         NaN     ...
 NaN                                                         NaN     ...
 1970-71                                                      57     ...
 1980-81                                                      76     ...
 1990-91                                                     128     ...
 2000-01                                                      61     ...
 2005-06                                                 78.1652     ...
 2006-07                                                 80.5803     ...
 2007-08                                                 92.5813     ...
 2008-09                                                    95.3     ...
 2009-10                                                      99     ...
 2010-11                                                 108.839     ...
 2011-12                                                  116.04     ...
 2012-13(P)                                              105.889     ...
 2013-14(P)                                              117.466     ...
 NaN                                               P:Provisional     ...
 NaN                                          NA: Not  Available     ...
 NaN           Note: from 1980-81 to 1990-91, figures for Cla...     ...
 NaN                                                Data Source:     ...
 NaN                                      For School Education:-     ...
 NaN           (i) figure for 1950-51 to 2011-12 taken from t...     ...
 NaN           (ii) figure for 2012-13 (P) & 2013-14 (P) take...     ...
 NaN           For Higher Education:- \n(i) figure for 1950-5...     ...
 NaN           (ii) figure for 2010-11 to 2012-13 (P) taken f...     ...
 NaN                                                         NaN     ...
 NaN                                                         NaN     ...
 NaN                                                         NaN     ...
 NaN                                                         NaN     ...
 NaN                                                         NaN     ...
 NaN                                                         NaN     ...
 NaN                                                         NaN     ...
 NaN                                                         NaN     ...
 NaN                                                         NaN     ...

                Unnamed: 17   Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
 NaN                    NaN           NaN         NaN         NaN         NaN
 NaN                    NaN           NaN         NaN         NaN         NaN
 Level/\nYear           NaN           NaN         NaN         NaN         NaN
 NaN                    NaN           NaN         NaN         NaN         NaN
 1950-51                NaN           NaN         NaN         NaN         NaN
 1960-61                NaN           NaN         NaN         NaN         NaN
 NaN                    NaN           NaN         NaN         NaN         NaN
 NaN                    NaN           NaN         NaN         NaN         NaN
 NaN                    NaN           NaN         NaN         NaN         NaN
 1970-71                NaN           NaN         NaN         NaN         NaN
 1980-81                NaN           NaN         NaN         NaN         NaN
 1990-91                NaN           NaN         NaN         NaN         NaN
 2000-01                NaN           NaN         NaN         NaN         NaN
 2005-06       1.321000e+02  2.890000e+01   23.300000   52.200000   14.473940
 2006-07       1.337000e+02  2.990000e+01   24.600000   54.500000   14.929517
 2007-08       1.355000e+02  3.110000e+01   26.200000   57.300000   15.898127
 2008-09       1.353200e+02  3.137000e+01   27.010000   58.380000   16.460000
 2009-10       1.336000e+02  3.170000e+01   27.800000   59.500000   16.900000
 2010-11       1.347598e+02  3.270208e+01   29.171112   61.873197   17.512879
 2011-12       1.398699e+02  3.311725e+01   29.889067   63.006313   18.551914
 2012-13(P)    1.320634e+02  3.288506e+01   31.372263   64.257325   18.143336
 2013-14(P)    1.321000e+03  2.890000e+02  233.000000  522.000000  144.739400
 NaN           1.337000e+03  2.990000e+02  246.000000  545.000000  149.295170
 NaN           1.355000e+03  3.110000e+02  262.000000  573.000000  158.981270
 NaN           1.353200e+03  3.137000e+02  270.100000  583.800000  164.600000
 NaN                    NaN           NaN         NaN         NaN         NaN
 NaN                    NaN           NaN         NaN         NaN         NaN
 NaN                    NaN           NaN         NaN         NaN         NaN
 NaN                    NaN           NaN         NaN         NaN         NaN
 NaN                    NaN           NaN         NaN         NaN         NaN
 NaN                    NaN           NaN         NaN         NaN         NaN
 NaN           1.347598e+03  3.270208e+02  291.711120  618.731970  175.128790
 NaN           1.398699e+03  3.311725e+02  298.890670  630.063130  185.519140
 NaN           1.320634e+03  3.288506e+02  313.722630  642.573250  181.433360
 NaN                    NaN           NaN         NaN         NaN         NaN
 NaN                    NaN           NaN         NaN         NaN         NaN
 NaN           1.747747e+07  3.696140e+07         NaN         NaN         NaN
 NaN           1.747747e+02  3.696140e+02         NaN         NaN         NaN
 NaN           1.040635e+07  2.215293e+07         NaN         NaN         NaN
 NaN           1.040635e+02  2.215293e+02         NaN         NaN         NaN

               Unnamed: 22  Unnamed: 23  Unnamed: 24  Unnamed: 25  Unnamed: 26
 NaN                   NaN          NaN          NaN          NaN          NaN
 NaN                   NaN          NaN          NaN          NaN          NaN
 Level/\nYear          NaN          NaN          NaN          NaN          NaN
 NaN                   NaN          NaN          NaN          NaN          NaN
 1950-51               NaN          NaN          NaN          NaN          NaN
 1960-61               NaN          NaN          NaN          NaN          NaN
 NaN                   NaN          NaN          NaN          NaN          NaN
 NaN                   NaN          NaN          NaN          NaN          NaN
 NaN                   NaN          NaN          NaN          NaN          NaN
 1970-71               NaN          NaN          NaN          NaN          NaN
 1980-81               NaN          NaN          NaN          NaN          NaN
 1990-91               NaN          NaN          NaN          NaN          NaN
 2000-01               NaN          NaN          NaN          NaN          NaN
 2005-06         10.497580    24.971520     7.816516     5.597983    13.414499
 2006-07         10.968202    25.897719     8.058031     5.982377    14.040408
 2007-08         12.319570    28.217697     9.258131     6.999648    16.257779
 2008-09         12.950000    29.410000     9.530000     7.360000    16.890000
 2009-10         13.800000    30.700000     9.900000     7.900000    17.800000
 2010-11         14.339430    31.852309    10.883876     8.585074    19.468950
 2011-12         15.500667    34.052581    11.603969     9.403596    21.007565
 2012-13(P)      16.174323    34.317659    10.588855     9.207921    19.796776
 2013-14(P)     104.975800   249.715200    78.165160    55.979830   134.144990
 NaN            109.682020   258.977190    80.580310    59.823770   140.404080
 NaN            123.195700   282.176970    92.581310    69.996480   162.577790
 NaN            129.500000   294.100000    95.300000    73.600000   168.900000
 NaN                   NaN          NaN          NaN          NaN          NaN
 NaN                   NaN          NaN          NaN          NaN          NaN
 NaN                   NaN          NaN          NaN          NaN          NaN
 NaN                   NaN          NaN          NaN          NaN          NaN
 NaN                   NaN          NaN          NaN          NaN          NaN
 NaN                   NaN          NaN          NaN          NaN          NaN
 NaN            143.394300   318.523090   108.838760    85.850740   194.689500
 NaN            155.006670   340.525810   116.039690    94.035960   210.075650
 NaN            161.743230   343.176590   105.888550    92.079210   197.967760
 NaN                   NaN          NaN          NaN          NaN          NaN
 NaN                   NaN          NaN          NaN          NaN          NaN
 NaN                   NaN          NaN          NaN          NaN          NaN
 NaN                   NaN          NaN          NaN          NaN          NaN
 NaN                   NaN          NaN          NaN          NaN          NaN
 NaN                   NaN          NaN          NaN          NaN          NaN

 [40 rows x 27 columns],
 u'Sheet1':          GROWTH IN ENROLMENT IN HIGHER EDUCATION FROM  Unnamed: 1 Unnamed: 2  \
 NaN                                 1950­51 TO 2010-11        NaN        NaN
 NaN                                               Year       Boys     Girls
 NaN                                                  1          2          3
 NaN                                           1950-51     351222       44916
 NaN                                           1955-56     630313       92647
 NaN                                           1960-61     795014      167242
 NaN                                           1965-66    1159000      245000
 NaN                                           1970-71    2587967      723770
 NaN                                           1975-76    3392729     1046571
 NaN                                           1980-81    3561620     1295763
 NaN                                           1985-86    2537545     1067484
 NaN                                           1990-91    3368610     1556258
 NaN                                           1995-96    4210398     2363607